body {
    margin: 0;
    background:white;
    font-family:Barlow, sans-serif;
    font-weight:500;
}

.container {
    width:80%;
    margin:0 auto;
}

header {
    background:#00e673;

}

header::after {
    content:"";
    display:table;
    clear:both;
}

logo {
    float: left;
}

logo ul {
    margin:0;
    padding:0;
    list-style:none;
}

logo li {
    display:inline-block;
    margin-left:0px;
    padding-top:1px;
    padding-bottom:1px;
    position:relative;
}

logo a {
    font-family:'Pacifico', cursive;
    text-decoration:none;
    font-size:50px;
}

nav {
    float: right;

}

nav ul {
    margin:0;
    padding:0;
    list-style:none;
}

nav li {
    display:inline-block;
    margin-left:70px;
    padding-top:25px;
    position:relative;
}

nav a{
    color: rgba(10,10,10,0.74);
    text-decoration:none;
    text-transform:uppercase;
    font-size:20px;
}

nav a:hover{
    color:black;
}

nav a::before {
    content:"";
    display:block;
    height:5px;
    width:100%;
    background-color:black;
    position:absolute;
    top:0;
    width:0;
    transition:all ease-in-out 250ms;
}

nav a:hover::before {
    width:100%;
}

. {
    margin:0px;
    padding:0px;
    height:100%;
    width:100%;
}

.intro {
    width:100%;
    height:100%;
    display:table;
    top:0;
}

.inner {
    display:table-cell;
    vertical-align:middle;
    width:100%;
}

.content {
    width:26vw;
    height:62vh;
    margin: auto;
    border-radius:1%;
    display:table;
    background:rgba(255,255,255,0.39);

}

.input1 {
    display:table-cell;
    margin-left:3.5vw;
    margin-top:6vh;
    padding:1% 1% 1% 10%;
    font-size:20px;
    border:0px;
    border-bottom:1px solid white;
    width:13.5vw;
}

.input2 {
    display:table-cell;
    margin-left:3.5vw;
    margin-top:6vh;
    padding:1% 1% 1% 10%;
    font-size:20px;
    border:0px;
    border-bottom:1px solid white;
    width:13.5vw;
}

.input2[placeholder] {
    padding-left:23%;
    font-size:1.9vw;
}

.input1[placeholder] {
    padding-left:23%;
    font-size:1.9vw;
}
